<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post"
                  enctype="multipart/form-data"
                  th:object="${recipe}"
                  th:action="@{'/recipe/' + ${recipe.id}  + '/image'}">
                <div class="card-columns" style="column-count: 1">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h1 class="card-title">Upload a new recipe image</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <label>Select file:</label>
                                    <input type="file" class="form-control-file" id="imageFile" name="imageFile"/>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
        th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>